<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwords</title>
</head>
<body>
    <h1>Your Passwords</h1>
    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
                <th>Actions2</th>
            </tr>
        </thead>
        <tbody>
            <% passwords.forEach(password => { %>
                <tr>
                    <td><%= password.title %></td>
                    <td><%= password.username %></td>
                    <td><%= password.password %></td>
                    <td>
                        <a href="/passwords/delete/<%= password._id %>">Delete</a>
                    </td>
                    <td>
                        <a href="/passwords/update/<%= password._id %>">Update</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <p><a href="/passwords/add">Add a new password</a></p>
    <p><a href="/">Go back to home</a></p>
</body>
</html>